*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
*:hover::after,
*:hover:before,
*:focus::before,
*:focus::after {
  outline: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a:hover,
a::after,
a::before {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

button, input[type=submit] {
  background: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 900px;
  overflow-x: hidden;
  min-height: 100vh;
  margin-inline: auto;
}

.pad {
  padding: 1.5em;
}

.marg {
  margin: 1.5em;
}

@media (min-width: 799px) {
  .marg {
    margin: 0;
  }
}
.none {
  display: none;
}

@media (min-width: 799px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.hero {
  grid-column: span 2;
}

.hero-img {
  grid-column: span 2;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  padding-inline: 1.5em;
  grid-column: span 3;
}
.header .nav-bar {
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  right: -100%;
  align-self: center;
  background: hsl(36deg, 100%, 99%);
  z-index: 99;
  transition: all 0.5s;
}
@media (min-width: 744px) {
  .header .nav-bar {
    position: relative;
    height: fit-content;
    width: max-content;
    background: none;
    right: 0;
  }
}
.header .nav-bar ul {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 10em;
  gap: 2em;
}
@media (min-width: 744px) {
  .header .nav-bar ul {
    flex-direction: row;
    padding: 0;
    margin-top: 0;
  }
}
.header .nav-bar ul li {
  font-size: 25px;
  font-family: inter;
  font-weight: 600;
}
@media (min-width: 744px) {
  .header .nav-bar ul li {
    font-size: 14px;
    transition: all 0.5s;
  }
  .header .nav-bar ul li:hover {
    color: hsl(5deg, 85%, 63%);
  }
}
.header .layer {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(8, 8, 8, 0.38);
  z-index: 90;
  transition: all 0.1;
}
@media (min-width: 744px) {
  .header .layer {
    display: none;
  }
}
.header .Hamburger {
  z-index: 99;
}
@media (min-width: 744px) {
  .header .Hamburger {
    display: none;
  }
}
.header .Hamburger .open {
  display: block;
}
.header .Hamburger .close {
  display: none;
}

.hero-page {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 799px) {
  .hero-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.hero-page img {
  height: 40vh;
  width: 100%;
}
.hero-page .heading h1 {
  max-width: 82%;
  font-size: 50px;
  font-family: inter;
  font-weight: 900;
  color: hsl(240deg, 100%, 5%);
}
@media (min-width: 744px) {
  .hero-page .heading h1 {
    font-size: 40px;
  }
}
.hero-page .paragraph p {
  font-size: 20px;
  font-family: inter;
  color: hsl(236deg, 13%, 42%);
  line-height: 150%;
  width: 85%;
  padding-bottom: 1em;
}
@media (min-width: 799px) {
  .hero-page .paragraph p {
    width: 100%;
    font-size: 15px;
  }
}
.hero-page .paragraph button {
  padding: 1.9em 9%;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 0.5em;
  word-spacing: 0.1em;
  font-weight: 700;
  font-size: 17px;
}
@media (min-width: 799px) {
  .hero-page .paragraph button {
    font-size: 15px;
    padding: 1.5em 5%;
  }
}

.questions {
  margin-block: 3.5em;
  padding-inline: 1.2em;
}
@media (min-width: 799px) {
  .questions {
    margin-block: 0;
  }
}
.questions .question-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: hsl(240deg, 100%, 5%);
}
.questions .question-list h1 {
  color: hsl(35deg, 77%, 62%);
  font-family: inter;
  font-size: 40px;
  padding-top: 0.8em;
}
.questions .question-list div:is(:nth-child(2), :nth-child(3)) {
  border-bottom: 1px solid hsl(36deg, 100%, 99%);
}
.questions .question-list h3 {
  color: hsl(36deg, 100%, 99%);
  font-family: inter;
  font-size: 30px;
}
.questions .question-list p {
  color: hsl(233deg, 8%, 79%);
  font-family: inter;
  font-size: 21px;
  padding-block: 1.5em;
}

.services {
  padding-inline: 4%;
  padding-block: 2.5em;
}
.services .list-box {
  display: flex;
  gap: 1em;
  margin-bottom: 2.6em;
}
.services .list-box .img {
  display: flex;
  align-items: center;
  width: 140px;
}
.services .list-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .description {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  gap: 0.7em;
}
.services h1 {
  font-family: inter;
  font-size: 40px;
  color: hsl(233deg, 8%, 79%);
}
.services h4 {
  font-family: inter;
  font-size: 25px;
  font-weight: 900;
  color: hsl(240deg, 100%, 5%);
}
.services p {
  font-family: inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 170%;
  color: hsl(236deg, 13%, 42%);
}

#checkbox:checked ~ .Hamburger .open {
  display: none;
}
#checkbox:checked ~ .Hamburger .close {
  display: block;
}

#checkbox:checked ~ .nav-bar {
  right: 0;
}

#checkbox:checked ~ .layer {
  right: 0;
}

/*# sourceMappingURL=css.style.css.map */
