@import './utilities';

.wrapper{
    position: relative;
    padding: 1.5em;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
    .nav-bar{
        align-self: center;
    }
}
.hero-page{
    display: flex;
    flex-direction: column;
    gap: 1em;
    .heading{
        h1{
            max-width: 70%;
            font-size: 50px;
            font-family: inter;
            font-weight: 900;
            color: color( Very_dark_blue);
        }
    }
    .paragraph{
        p{
            font-size: 20px;
            font-family: inter;
            color: color( Dark_grayish_blue); 
            line-height: 150%;
            width: 85%;
            padding-bottom: 1em;
        }
        button{
            padding: 1.9em 9%;
            background-color: color(Soft_red);
            color: color( Off-white);
            letter-spacing: .5em;
            word-spacing: .1em;
            font-weight: 700;
            font-size: 17px;
        }
    }
}

.questions{
    margin-block: 3.5em;
    padding: 1.0em;
    padding-inline: 1.5em;
    background-color: color(Very_dark_blue);
    .question-list{
        display: flex;
        flex-direction: column;
        gap: 2em;
        h1{
            color: color(Soft_orange);
            font-family: inter;
            font-size: 40px;
            padding-top: .3em;
        }
        div:is(:nth-child(2), :nth-child(3)){
            border-bottom: 1px solid color(Off-white);
        }
        h3{
            color: color(Off-white);
            font-family: inter;
            font-size: 30px;
        }
        p{
            color: color( Grayish_blue);
            font-family: inter;
            font-size: 25px;
            padding-block: 1.5em;
        }
    }
}

.services{
    padding-inline: 4%;
    padding-block: 2.5em;

    .list-box{
        display: flex;
        gap: 1em;

        .img{
            width: 30%;
            height: 30%;
            margin-bottom: 2em;
            img{
                width: fit-content;
            }
        }
    }

    h1{
        font-family: inter;
        font-size: 60px;
        color: color(Grayish_blue);
    }
    h4{
        font-family: inter;
        font-size: 30px;
        color: color(Very_dark_blue);
    }
    p{
        font-family: ;
    }
}